*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.bars{
    background: #171d20;
    border-bottom: 2px solid rgb(255, 0, 0);
    width: 100%;
}

nav{
    justify-content: space-between;
    display: flex;
    padding: 25px;
    margin: 0 50px;
} 

.bars ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 600;
}

.bars ul li::after{
    background: rgb(255, 0, 0);
    content: "";
    display: block;
    height: 2px;
    margin: auto;
    width: 0%;
    transition: 0.5s;
}

.bars ul li:hover::after{
    width: 100%;
}

.bars ul li a{
    color: #fff;
    text-align: right;
    text-decoration: none;
}

#home{
    color: rgb(255, 0, 0);
}

.bars h2{
    color: #fff;
}

.bars h2 span{
    color: rgb(255, 0, 0);
}

@media(max-width: 700px){
    nav{
        display: block;
        padding: 10px;
        text-align: center;
    }

    .bars h2{
        font-size: 30px;
        line-height: 1.5;
        margin: auto;
        padding: 20px;
        width: 90%;
    }

    .bars ul li{
        line-height: 1.5;
    }
}

/* Header Section */
.header{
    background-image: linear-gradient(rgba(1,0,0,0.7), rgba(0,0,0,0.5)), url(img/showcase1.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.header h1{
    color: #fff;
    font-size: 60px;
    line-height: 1.5;
    margin: 0 32px;
    padding-top: 100px;
    text-align: center;   
}

.header P{
    text-align: center;
    color: #fff;
    padding: 20px 0;
    line-height: 2;
}

@media(max-width: 700px){
    .header h1{
        font-size: 45px;
    }

    .header P{
        padding: 30px;
    }
}

/* Newsletter Section */

.newsletter{
    text-align: center;
    background: #171d20;
    width: 100%;
}

.newsletter h3{
    color: #fff;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
}

.newsletter input{
    border: none;
    padding: 7px 20px 7px 4px;
    text-align: left;
    margin-bottom: 20px;
}

.newsletter button{
    border: none;
    background: rgb(255, 0, 0);
    color: #fff;
    cursor: pointer;
    padding: 7px 15px;
    transition: 0.5s;
}

.newsletter button:hover{
    background: #fff;
    color: rgb(255, 0, 0);
}

@media(max-width: 700px){
    .newsletter h3{
        padding: 20px;
    }
    .newsletter-col{
        text-align: center;
    }

    .newsletter input{
        margin-bottom: 5px;
        padding: 7px 66px 7px 4px;
    }

    .newsletter button{
        bottom: 20px;
        margin: auto auto 10px;
        padding: 7px 90px;
    }
}

/* Courses Section */
.courses{
    margin: auto;
    padding-top: 50px;
    width: 80%;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.courses-col img{
    padding: 30px 0;
}

.courses-col h3{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    padding: 20px 0;
} 

.courses-col p{
    color: #000;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 40px;
    position: relative;
    left: 25%;
    width: 50%;
}

@media(max-width: 700px){
    .row{
        display: block;
        justify-content: space-between;
    }
}

/* Footer Section */
footer{
    background: rgb(255, 0, 0);
    height: 60px;
    width: 100%;
}

footer p{
    color: #fff;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

@media(max-width: 700px){
    footer p{
        display: block;
        padding: 20px;
    }

}

/* About Page */
.about{
    width: 80%;
    margin: auto;
    padding: 30px 0;
}

.about-left{
    line-height: 1.5;
}

.about-left h3{
    padding-bottom: 20px;
}

.about-left p{
    width: 70%;
}

.p-border{
    background: #171d20;
    color: #fff;
    padding: 15px;
}

.about-right{
    line-height: 1.5;
    background: #171d20;
    height: 450px;
    color: #fff;
    padding: 15px;
}

.about-right h3{
    padding-bottom: 20px;  
}

.about-right p{
    width: 80%;
}

@media(max-width: 700px){
    .about-left{
        text-align: center;
    }

    .about-left p{
        width: auto;
    }

    .p-border{
        margin-bottom: 10px;
    }

    .about-right{
        text-align: center;
    }

    .about-right p{
        width: auto;
    }

}

/* Services Section */
.services{
    margin: auto;
    padding: 30px 0;
    width: 80%;
}

.left-col h3{ 
    padding-bottom: 15px;
}

.left-col p{
    line-height: 1.5;

}

.inner-col{
    background: #c0c1c2;
    padding: 20px 15px;
    margin-bottom: 3px;
}

.right-col{
    background: #171d20;
    padding: 20px 15px;
    height: 45vh;
}

.right-col h3{
    color: #fff;
    padding-bottom: 10px;
    font-weight: 600;
}

.right-col form h5{
    color: #fff;
    padding: 5px 0;
    font-weight: 400;
}

.right-col form input, .right-col form textarea{
    padding: 5px 4px;
}

.right-col button{
    background: rgb(255, 0, 0);
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    transition: 0.5s;
}

.right-col button:hover{
    background: #fff;
    color: rgb(255, 0, 0);
}

@media(max-width: 700px){
    .left-col{
        text-align: center;
    }

    .right-col{
        height: 50vh;
        text-align: center;
    }
    .right-col form input{
        padding: 6px 7px;
        font-size: 20px;
    }
    .right-col form textarea{
        padding: 6px 25px;
        font-size: 20px;
    }

    .right-col button{
        margin: 10px 0;
        padding: 8px 110px;
        font-size: 20px;
    }

    .right-col h5{
        font-size: 20px;
    }
}
